.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
}

.linksContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}


.logout {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.menuButton,
.mobileLinks {
  display: none;
}

@media (max-width: 768px) {
  .linksContainer {
    display: none;
  }

  .menuButton {
    display: block;
    cursor: pointer;
  }

  .mobileLinks {
    position: absolute;
    top: var(--navbar-height);
    right: 0;
    width: 50%;
    height: calc(100vh - var(--navbar-height));
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
